#loading{
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100vh;
    background-size: 2%;
    background: #fff url(https://i.pinimg.com/originals/45/12/4d/45124d126d0f0b6d8f5c4d635d466246.gif) no-repeat center center;
    
}
.font-best{
    font-family: 'Roboto Condensed', sans-serif;
}
.font-best-a{
    font-family: 'Ubuntu', sans-serif;
}
@media screen and (max-width: 700px) {
    #card {
        width: 100%;
        padding: 0!important;
        margin-bottom: 3rem;
    }
    
    #download{
        margin-bottom: 1rem!important;
    }
    #play-button{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        padding-top: .5rem!important;
        padding-bottom: .75rem!important;
        margin-right: 1.5rem!important;
        margin-top: 2rem!important;
    }
    #apple-button{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        padding-top: .5rem!important;
        padding-bottom: .75rem!important;
        margin-left: 1.5rem!important;
        margin-top: 2rem!important;
    }
    #navbar {
        display:flex;
        flex-flow: column;
    }
    #navbar-content{order:4;}
    #navbar-icon{order:3;}
    #login-button{
        order:2;
        display: flex;
        margin-left: 15%;
    }
}

@media screen and (max-width: 500px) {
    #navbar {
        display:flex;
        flex-flow: column;
    }
    #navbar-content{order:4;}
    #navbar-icon{order:3;}
    #login-button{
        order:2;
        display: flex;
        margin-left: 8%;
        margin-right: 5px;
    }
}
@media screen and (max-width: 1288px){
    #course {
        display: none;
    }
}
